body {
    font-family: arial;
    margin: 0;
    box-sizing: border-box;
}

.titlebar {
    background-color: #0c448d;
    padding: 15px 30px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.titlebar img {
    height: 21px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 20px;
}

.button_panel {
    border: 0px solid red;
    position: fixed;
    right: 0;
    top: 0;
    padding: 6px;
}

.save {
    background-color: #ffffff;
    border: 1px solid #042f68;
    border-radius: 8px;
    transition: 0.3s ease;
    padding: 9px 18px;
    color: #001a3b;
    font-size: 16px;
    font-weight: bold;
}

.save:hover {
    background-color: #88bfff;
}

.tablebody_container {
    position: absolute;
    top: 0px;
    border: 0px solid red;
    height: 100%;
    width: 100%;
    padding-top: 53px;
    box-sizing: border-box;
}

.tablebody {
    border: 0px solid red;
    height: 100%;
    position: relative;
}

table {
    max-width: 100vw;
    width: auto;
    -webkit-box-flex: 1;
    flex: 1;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 
      minmax(50px, 50px)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 3.33fr)
      minmax(150px, 1.67fr)
      minmax(150px, 3.33fr)
      minmax(150px, 1.67fr);
}
   
thead, tbody, tr {
    display: contents;
}

th, td {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid black;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #252525;
    text-align: center;
    text-transform: uppercase;
    font-size: 11pt;
    color: white;
    position: relative;
    padding: 10px 5px;
}

.resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    width: 3px;
    cursor: e-resize;
}

.resize-handle:hover, .header--being-resized .resize-handle {
    opacity: 0.5;
}

th:hover .resize-handle {
    opacity: 0.3;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
}